@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
/*====================
inner
====================*/
/*====================
mixin
====================*/
/*====================
font
====================*/
/*====================
colors
====================*/
/*====================
全体に共通するスタイル
====================*/
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}
body {
  font-size: 16px;
  color: #3E3E3E;
  line-height: 1.6875;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background: #F3F3F3;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .inner {
    padding: 16px;
  }
}

/*====================
header
====================*/
@media (min-width: 1200px) {
  .header {
    background: #FFFFFF1A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}
@media (max-width: 767px) {
  .header {
    background: #fff;
    padding: 15px 16px;
  }
}

@media (min-width: 1200px) {
  .header-title {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-title {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-title {
    color: #3E3E3E;
    font-size: 23px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .drawer-hamburger {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .drawer-hamburger {
    display: none;
  }
}
@media (max-width: 767px) {
  .drawer-hamburger {
    width: 26px;
    height: 20px;
    line-height: 20px;
    padding: 19px 16px;
    position: absolute;
  }
}

.drawer-hamburger-icon {
  width: 26px;
  height: 4px;
  background: #3E3E3E;
  border-radius: 2px;
}
.drawer-hamburger-icon::before, .drawer-hamburger-icon::after {
  width: 26px;
  height: 4px;
  background: #3E3E3E;
  border-radius: 2px;
}
.drawer-hamburger-icon::before {
  top: 8px;
}
.drawer-hamburger-icon::after {
  top: -8px;
}

.drawer-open .drawer-hamburger-icon::before, .drawer-open .drawer-hamburger-icon::after {
  background: #fff;
}
.drawer-open .drawer-overlay {
  background: #3E3E3E;
  opacity: 0.7;
}

@media (max-width: 767px) {
  .drawer-nav {
    width: 300px;
    height: 667px;
  }
}

@media (max-width: 767px) {
  .drawer--right .drawer-nav {
    right: -19.25rem;
  }
}

@media (max-width: 767px) {
  .drawer--right.drawer-open .drawer-hamburger {
    right: 18.6rem;
  }
}

@media (min-width: 1200px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 28px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 28px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .header-nav {
    margin-top: 156px;
    text-align: center;
  }
}

.header-item:not(:first-child) {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .header-item:not(:first-child) {
    margin-left: 0;
    margin-top: 24px;
  }
}
.header-item a {
  color: #3E3E3E;
  display: inline-block;
  letter-spacing: 0.6px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .header-item a {
    color: #3E3E3E;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }
}
.header-item a:hover {
  opacity: 0.7;
}
.header-item a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: transparent;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-item a:hover::after, .header-item a.is-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #3E3E3E;
  bottom: -5px;
  left: 0;
}

/*====================
top
====================*/
.top {
  background: url(../img/mv.png) no-repeat center center/cover;
  position: relative;
  height: 650px;
}
@media (max-width: 767px) {
  .top {
    background: url(../img/mv.png) no-repeat left 22% top -64px/cover;
  }
}

.top-text-area {
  position: absolute;
  content: "";
  margin-top: 230px;
  right: 52px;
}
@media (max-width: 767px) {
  .top-text-area {
    right: 0px;
    padding: 0;
    margin-top: 137px;
    position: relative;
  }
}

.top-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.02px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .top-title {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1.6666;
  }
}

.top-text {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  margin-top: 26px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .top-text {
    font-size: 13px;
    margin-top: 18px;
    letter-spacing: 0;
  }
}

.top-button {
  background: #FFAA3B;
  -webkit-box-shadow: 0 3px 5px #3E3E3E33;
          box-shadow: 0 3px 5px #3E3E3E33;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin-top: 37px;
  padding: 12px 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .top-button {
    margin: 27px 0 0 60px;
    padding: 10px 32px;
  }
}
.top-button:hover {
  background: #F18900;
}
.top-button a {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
}
@media (max-width: 767px) {
  .top-button a {
    letter-spacing: 0;
    font-size: 16px;
  }
}

/*====================
news
====================*/
.news {
  background: #FFF;
  width: 1200px;
  max-width: 100%;
  padding: 50px 60px 40px;
  margin: 120px auto 0;
  -webkit-box-shadow: 0 5px 12px #3E3E3E33;
          box-shadow: 0 5px 12px #3E3E3E33;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news {
    width: 960px;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .news {
    padding: 35px 0;
    margin-top: -91px;
    width: 343px;
    max-width: 100%;
    position: relative;
  }
}

.news-title {
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .news-title {
    font-size: 28px;
    font-weight: 600;
  }
}

.news-items {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .news-items {
    margin-top: 40px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #CECDCD;
  padding: 0px;
  background: url(../img/news-arrow.png) no-repeat right 16px center/10px 22px;
}
.news-item:last-child {
  border-bottom: 1px solid #CECDCD;
}
.news-item:hover {
  background: #4973FF1A url(../img/news-arrow.png) no-repeat right 16px center/10px 22px;
}
@media (max-width: 767px) {
  .news-item {
    display: block;
    padding: 6px 14px 10px;
  }
}

.news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
}
@media (max-width: 767px) {
  .news-link {
    display: block;
  }
}

.news-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .news-item-left {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .news-item-date {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.45px;
    width: 100px;
    height: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news-item-date {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.45px;
    width: 100px;
    height: 20px;
    line-height: 20px;
  }
}

.news-item-title {
  font-size: 14px;
  letter-spacing: 0.35px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  text-align: center;
  margin-left: 40px;
  width: 121px;
  height: 30px;
  display: inline-block;
  background: #fff;
}
@media (max-width: 767px) {
  .news-item-title {
    font-size: 12px;
    margin-left: 18px;
    width: 80px;
    height: 22px;
  }
}

@media (min-width: 1200px) {
  .news-item-right {
    width: calc(100% - 260px);
    display: block;
    padding: 37px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news-item-right {
    width: calc(100% - 260px);
    display: block;
    padding: 37px;
  }
}

.news-item-text {
  font-size: 18px;
  letter-spacing: 0.45px;
}
@media (max-width: 767px) {
  .news-item-text {
    letter-spacing: 0.4px;
    font-size: 14px;
    margin: 3px 30px -4px 2px;
    padding-right: 10px;
    line-height: 1.7;
  }
}

.more-link {
  border: 1px solid #707070;
  background: #FFF;
  width: 235px;
  max-width: 100%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  margin: 40px auto 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .more-link {
    width: 268px;
    height: 55px;
    line-height: 55px;
    margin: 40px auto 0;
  }
}
.more-link:hover {
  background: #3E3E3E;
}
.more-link a {
  color: #3E3E3E;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .more-link a {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
  }
}
.more-link a:hover {
  color: #fff;
}

/*====================
service
====================*/
.service {
  margin-top: 120px;
  background: #3E3E3E;
  height: 400px;
}
@media (max-width: 767px) {
  .service {
    position: relative;
    margin-top: 65px;
    height: 480px;
  }
}

.service-title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 55px;
}
@media (max-width: 767px) {
  .service-title {
    padding-top: 34px;
    font-size: 28px;
    font-weight: 600;
  }
}

.service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  width: 960px;
  max-width: 100%;
  height: 330px;
  padding: 70px 45px;
  margin: 53px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 5px 12px #3E3E3E33;
          box-shadow: 0 5px 12px #3E3E3E33;
}
@media (max-width: 767px) {
  .service-items {
    display: block;
    width: 343px;
    max-width: 100%;
    margin: 35px auto 0;
    padding: 50px 17px 36px;
    height: 100%;
    text-align: center;
  }
}

.service-item {
  width: 230px;
  max-width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .service-item {
    width: 311px;
    max-width: 100%;
  }
  .service-item:not(:first-child) {
    margin-top: 50px;
  }
}
.service-item img {
  width: 50px;
  max-width: 100%;
  height: 50px;
}
@media (max-width: 767px) {
  .service-item img {
    width: 48px;
    height: 32px;
  }
}

.service-item-title {
  font-size: 20px;
  font-weight: 600;
  color: #3E3E3E;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  margin-top: 8px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .service-item-title {
    font-weight: 600;
    margin-top: 26px;
  }
}

.service-text {
  font-size: 14px;
  margin-top: 15px;
  text-align: left;
}
@media (max-width: 767px) {
  .service-text {
    margin-top: 8px;
  }
}

/*====================
results
====================*/
.results {
  margin: 215px 0 0 40px;
  background: #3E3E3E;
}
@media (max-width: 767px) {
  .results {
    position: relative;
    margin: 390px 0 0;
  }
}

.results-inner {
  padding: 57px;
}
@media (max-width: 767px) {
  .results-inner {
    padding: 35px 16px;
  }
}

.results-title {
  font-size: 36px;
  font-weight: 600;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .results-title {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  }
}

.swiper-container {
  margin-top: 40px;
}

.results-pagination {
  margin-top: 40px;
  position: static;
  text-align: left;
}
@media (max-width: 767px) {
  .results-pagination {
    margin-top: 27px;
    text-align: center;
  }
}
.results-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 10px;
  color: #fff;
  background: #fff;
  opacity: 1;
  position: relative;
}
.results-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.results-card {
  background: #FFF;
  color: #3E3E3E;
  display: block;
}

.results-card-img img {
  width: 100%;
}

.results-card-body {
  padding: 18px;
}
@media (max-width: 767px) {
  .results-card-body {
    padding: 3px 12px;
  }
}

.results-card-title {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .results-card-title {
    font-size: 14px;
    letter-spacing: 0.01px;
  }
}

.results-card-text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 7px;
}
@media (max-width: 767px) {
  .results-card-text {
    font-size: 12px;
    letter-spacing: 0.01px;
    margin-top: 5px;
  }
}

.view-link {
  border: 1px solid #FFF;
  display: block;
  width: 290px;
  max-width: 100%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  margin-top: 34px;
}
@media (max-width: 767px) {
  .view-link {
    width: 316px;
    height: 54px;
    line-height: 54px;
    margin: 20px auto 0;
  }
}
.view-link a {
  color: #fff;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 600;
  display: block;
}
@media (max-width: 767px) {
  .view-link a {
    letter-spacing: 3px;
    font-size: 18px;
  }
}
.view-link a:hover {
  color: #3E3E3E;
  background: #FFF;
}

/*====================
price
====================*/
.price {
  margin-top: 114px;
}
@media (max-width: 767px) {
  .price {
    margin-top: 40px;
  }
}

.price-inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .price-inner {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
}

.price-title {
  color: #3E3E3E;
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .price-title {
    font-size: 28px;
  }
}

.price-table-wrap {
  margin-top: 52px;
}
@media (max-width: 767px) {
  .price-table-wrap {
    margin-top: 35px;
  }
}

.price-table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: 600;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
}
.price-table td, .price-table th {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media (max-width: 767px) {
  .price-table td, .price-table th {
    font-size: 20px;
  }
}
.price-table td {
  color: #3E3E3E;
  border-bottom: 1px solid #707070;
  padding: 9px 0 9px 40px;
}
@media (max-width: 767px) {
  .price-table td {
    padding: 10px;
    font-size: 20px;
    padding-left: 20px;
  }
}
.price-table th {
  width: 262px;
  background: #3E3E3E;
  color: #FFF;
  padding: 7px;
}
@media (max-width: 767px) {
  .price-table th {
    width: 84px;
    max-width: 100%;
  }
}
.price-table th:not(:last-child) {
  border-bottom: 1px solid #FFF;
}

.price-text {
  font-size: 12px;
  margin-top: 9px;
}
@media (max-width: 767px) {
  .price-text {
    margin: 5px 0 0 16px;
  }
}

/*====================
comments
====================*/
.comments {
  width: 980px;
  max-width: 100%;
  height: 576px;
  background: #3E3E3E;
  margin-top: 268px;
  position: relative;
}
@media (max-width: 767px) {
  .comments {
    margin-top: 115px;
    height: 425px;
  }
}

.comment-inner {
  padding: 0 40px;
}
@media (max-width: 767px) {
  .comment-inner {
    padding: 16px;
  }
}

.comment-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-content {
  background: #FFF;
  padding: 110px 60px;
  width: 666px;
  max-width: 100%;
  -webkit-box-shadow: 0 0 10px #00000029;
          box-shadow: 0 0 10px #00000029;
  position: absolute;
  top: -150px;
}
@media (max-width: 767px) {
  .comment-content {
    width: 343px;
    max-width: 100%;
    padding: 34px 20px;
    top: -70px;
    position: relative;
  }
}

.comment-title {
  font-size: 36px;
  font-weight: 600;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .comment-title {
    font-size: 30px;
  }
}

.comment-items {
  margin-top: 48px;
}
@media (max-width: 767px) {
  .comment-items {
    margin-top: -10px;
  }
}

.comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment-item:not(:first-child) {
  margin-top: 58px;
}
@media (max-width: 767px) {
  .comment-item:not(:first-child) {
    margin-top: 34px;
  }
}
@media (max-width: 767px) {
  .comment-item {
    margin-top: 40px;
  }
}

.comment-item-img {
  width: 132px;
}
@media (max-width: 767px) {
  .comment-item-img {
    width: 80px;
  }
}
.comment-item-img img {
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  .comment-item-img img {
    width: 60px;
    height: 60px;
  }
}

.comment-body {
  margin-left: 32px;
}
@media (max-width: 767px) {
  .comment-body {
    margin-left: 20px;
  }
}

.comment-text {
  font-size: 16px;
  color: #3E3E3E;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .comment-text {
    font-size: 14px;
    line-height: 1.428;
  }
}

@media (min-width: 1200px) {
  .comment-img {
    position: absolute;
    width: 534px;
    height: 444px;
    max-width: 100%;
    top: -75px;
    right: -260px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comment-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .comment-img {
    display: none;
  }
}

/*====================
qa
====================*/
.qa {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  padding: 48px 40px 125px;
}
@media (max-width: 767px) {
  .qa {
    padding: 36px 16px 30px;
  }
}

.qa-title {
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #3E3E3E;
}
@media (max-width: 767px) {
  .qa-title {
    font-size: 28px;
  }
}

.qa-items {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .qa-items {
    margin-top: 40px;
  }
}

.qa-item {
  background: #fff;
  width: 612px;
  max-width: 100%;
  border-radius: 4px;
  display: block;
  margin-left: auto;
}
.qa-item:not(:first-child) {
  margin-top: 36px;
}
.qa-item:hover {
  cursor: pointer;
}

.qa-box {
  padding: 13px;
}
@media (max-width: 767px) {
  .qa-box {
    padding: 10px 13px;
  }
}

.qa-box-q {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  position: relative;
  padding-left: 40px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .qa-box-q {
    padding-left: 43px;
  }
}
.qa-box-q::before {
  position: absolute;
  content: "Q";
  width: 24px;
  height: 24px;
  line-height: 24px;
  left: 4px;
  background: #3B69FF;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

.qa-box-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa-box-icon.is-open .icon-bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon-bar1 {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background: #3B69FF;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-bar2 {
  position: absolute;
  content: "";
  width: 3px;
  height: 15px;
  background: #3B69FF;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box-a {
  background: #3B69FF33;
  border-radius: 4px;
  padding: 12px;
  margin-top: 14px;
  display: none;
}
@media (max-width: 767px) {
  .qa-box-a {
    padding: 10px 15px;
    margin-top: 16px;
    line-height: 1.428;
  }
}

.qa-box-text {
  font-size: 16px;
}
@media (max-width: 767px) {
  .qa-box-text {
    font-size: 14px;
  }
}

/*====================
access
====================*/
.access {
  background: #3E3E3E;
  width: 980px;
  max-width: 100%;
  position: relative;
  padding: 115px 100px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access {
    padding: 33px 16px 60px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .access {
    padding: 65px 16px 60px;
  }
}

.access-title {
  font-size: 36px;
  font-weight: 600;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .access-title {
    font-size: 30px;
  }
}

.access-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access-row {
    margin-top: 29px;
    display: block;
  }
}
@media (max-width: 767px) {
  .access-row {
    margin-top: 29px;
    display: block;
  }
}

.access-add {
  font-size: 16px;
  color: #FFF;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .access-add {
    font-size: 14px;
    line-height: 1.428;
  }
}

.map-button {
  border: 1px solid #FFF;
  display: block;
  width: 314px;
  max-width: 100%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .map-button {
    margin: 22px auto 0;
    width: 340px;
    height: 55px;
    line-height: 55px;
  }
}
.map-button a {
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .map-button a {
    font-size: 18px;
  }
}
.map-button a:hover {
  color: #3E3E3E;
  background: #FFF;
}

.access-map {
  width: 726px;
  height: 520px;
  max-width: 100%;
  position: absolute;
  top: 120px;
  right: -260px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access-map {
    margin-top: 24px;
    top: 0;
    left: 0;
    position: relative;
  }
}
@media (max-width: 767px) {
  .access-map {
    width: 343px;
    max-width: 100%;
    height: 100%;
    margin-top: 24px;
    top: 0;
    left: 0;
    position: relative;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 71.6253443526%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .iframe-wrap {
    padding-top: 70.2623906706%;
  }
}

/*====================
contact
====================*/
.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  margin-top: 260px;
  padding: 56px 160px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    margin-top: 0;
    padding: 56px 15px;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 38px 16px;
    margin-top: 0;
  }
}

.contact-head {
  width: 960px;
  max-width: 100%;
  background: url(../img/contact1.png) no-repeat center center/cover;
  padding: 54px;
  margin: 0 auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
@media (max-width: 767px) {
  .contact-head {
    padding: 36px 16px;
  }
}

.contact-title {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-title {
    font-size: 30px;
  }
}

.contact-head-text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
}
@media (max-width: 767px) {
  .contact-head-text {
    font-size: 14px;
    line-height: 1.428;
    -moz-text-align-last: left;
         text-align-last: left;
    margin-top: 0;
  }
}

.contact-form {
  background: #FFFFFF;
  width: 960px;
  max-width: 100%;
  padding: 45px 120px;
  margin: 0 auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media (max-width: 767px) {
  .contact-form {
    padding: 13px 12px;
  }
}

.contact-form-dl {
  padding-top: 22px;
}
@media (max-width: 767px) {
  .contact-form-dl {
    padding-top: 18px;
  }
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-row:not(:first-child) {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact-row:not(:first-child) {
    margin: 25px 0 -8px;
  }
}
@media (max-width: 767px) {
  .contact-row {
    display: block;
  }
}

.contact-form-row {
  margin-top: 22px;
}
@media (max-width: 767px) {
  .contact-form-row {
    margin-top: 30px;
  }
}

.contact-form-label {
  width: 190px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .contact-form-label {
    margin-top: 5px;
  }
}

.is-required {
  position: relative;
}
.is-required::after {
  content: "必須";
  position: absolute;
  width: 40px;
  height: 16px;
  background: #FF4646;
  border-radius: 4px;
  top: 0;
  left: calc(100% + 10px);
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 16px;
  text-align: center;
}
@media (max-width: 767px) {
  .is-required::after {
    left: calc(100% + 20px);
  }
}

.contact-form-input {
  width: calc(100% - 190px);
}
.contact-form-input select {
  width: 178px;
  max-width: 100%;
  padding: 12px 40px 12px 12px;
  margin-top: -6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  border: 1px solid #E3E3E3;
  background: url(../img/select-arrow@2x.png) no-repeat right 12px center/10px 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form-input select:hover {
  -webkit-box-shadow: 0 0 5px #4973FF80;
          box-shadow: 0 0 5px #4973FF80;
}
@media (max-width: 767px) {
  .contact-form-input select {
    width: 100%;
  }
}
.contact-form-input [type=text] {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #E3E3E3;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 3px 0 0 8px;
}
@media (max-width: 767px) {
  .contact-form-input [type=text] {
    line-height: 1.7142;
  }
}
.contact-form-input [type=text]:hover {
  -webkit-box-shadow: 0 0 4px #4973FF80;
          box-shadow: 0 0 4px #4973FF80;
  border-bottom: 1px solid #4973FF;
}
.contact-form-input [type=email] {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #E3E3E3;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 8px;
}
.contact-form-input [type=email]:hover {
  -webkit-box-shadow: 0 0 4px #4973FF80;
          box-shadow: 0 0 4px #4973FF80;
  border-bottom: 1px solid #4973FF;
}
.contact-form-input textarea {
  height: 200px;
  resize: vertical;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  border: 1px solid #E3E3E3;
  width: calc(100% + 190px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form-input textarea:hover {
  -webkit-box-shadow: 0 0 4px #4973FF80;
          box-shadow: 0 0 4px #4973FF80;
  border: 1px solid #4973FF;
}
@media (max-width: 767px) {
  .contact-form-input textarea {
    width: 100%;
    height: 158px;
  }
}
@media (max-width: 767px) {
  .contact-form-input {
    width: 100%;
    margin-top: 8px;
  }
  .contact-form-input ::-webkit-input-placeholder {
    font-size: 14px;
  }
  .contact-form-input ::-moz-placeholder {
    font-size: 14px;
  }
  .contact-form-input :-ms-input-placeholder {
    font-size: 14px;
  }
  .contact-form-input ::-ms-input-placeholder {
    font-size: 14px;
  }
  .contact-form-input ::placeholder {
    font-size: 14px;
  }
}

.contact-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-radio [type=radio] {
  display: none;
}
.contact-radio span {
  margin: 0 37px 0 18px;
  position: relative;
}
.contact-radio span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 40px;
  border: 1px solid #707070;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-radio span:hover::before {
  border: 1px solid #3B69FF;
  -webkit-box-shadow: 0 0 5px #4973FF33;
          box-shadow: 0 0 5px #4973FF33;
}
.contact-radio span::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 50%;
  right: 43px;
  border: 1px solid #3B69FF;
  background: #3B69FF;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.contact-radio [type=radio]:checked + span::after {
  opacity: 1;
}
.contact-radio [type=radio]:checked + span::before {
  background: #4973FF33;
  border: 1px solid #3B69FF;
}
@media (max-width: 767px) {
  .contact-radio {
    display: block;
  }
}

.contact-form-check {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact-form-check {
    margin-top: 25px;
  }
}
.contact-form-check [type=checkbox] {
  display: none;
}
.contact-form-check span {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #3E3E3E;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .contact-form-check span {
    font-size: 16px;
    padding-left: 38px;
  }
}
.contact-form-check span::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  background: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .contact-form-check span::before {
    width: 16px;
    height: 16px;
  }
}
.contact-form-check span:hover::before {
  border: 1px solid #3B69FF;
  -webkit-box-shadow: 0 0 5px #4973FF33;
          box-shadow: 0 0 5px #4973FF33;
}
.contact-form-check span::after {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 5px;
  border-bottom: 2px solid #3B69FF;
  border-left: 2px solid #3B69FF;
  top: 4px;
  left: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.contact-form-check [type=checkbox]:checked + span::after {
  opacity: 1;
}
.contact-form-check [type=checkbox]:checked + span::before {
  background: #4973FF33;
  border: 1px solid #3B69FF;
}

.contact-form-button {
  margin-top: 34px;
}

.util-link {
  width: 173px;
  height: 50px;
  line-height: 50px;
  background: #FFAA3B;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-box-shadow: 0 3px 5px #00000033;
          box-shadow: 0 3px 5px #00000033;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.util-link.-disabled {
  background: #B2B2B2;
}
.util-link.-disabled:hover {
  background: #B2B2B2;
}
.util-link:hover {
  background: #F18900;
  cursor: pointer;
}
@media (max-width: 767px) {
  .util-link {
    margin: 34px auto 22px;
    width: 165px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}

.contact-message {
  text-align: center;
  margin-top: -70px;
  display: none;
}
.contact-message.-error {
  color: #f00;
}

/*====================
footer
====================*/
.footer {
  background: #3E3E3E;
  padding: 60px;
}
@media (max-width: 767px) {
  .footer {
    padding: 46px;
    text-align: center;
  }
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
@media (max-width: 767px) {
  .footer-inner {
    display: block;
  }
}

.sns-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .sns-items {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sns-item {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.sns-item:first-child {
  margin-right: 32px;
}
.sns-item a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.sns-item a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .sns-item:first-child {
    margin-right: 48px;
  }
}

.sns-link {
  color: #E3E3E3;
  display: block;
  font-size: 40px;
  opacity: 0.6;
}

.footer-nav {
  margin-top: 51px;
}
@media (max-width: 767px) {
  .footer-nav {
    margin-top: 30px;
  }
}

.footer-nav-item:not(:first-child) {
  margin-top: 13px;
}
.footer-nav-item a {
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0.4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .footer-nav-item a {
    letter-spacing: 0.35px;
    font-size: 14px;
  }
}
.footer-nav-item a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .footer-nav-item:not(:first-child) {
    margin-top: 13px;
  }
}

.footer-text {
  color: #E3E3E3;
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .footer-text {
    font-size: 32px;
    margin-top: 28px;
  }
}

.copy-right {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  margin-left: 71px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .copy-right {
    margin-left: 0;
  }
}

.to-top {
  position: fixed;
  right: 40px;
  bottom: 45px;
  z-index: 110;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top:hover {
  opacity: 0.7;
}
.to-top img {
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  .to-top img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 16px;
  }
}